.pagbutton {
         
        font-size: 1rem; 
        font-family: 'Tektur', cursive;
        color: #fff;
        background: transparent;
        border-radius: 20px;
    backdrop-filter: blur(15px);
       
        position: relative;
        cursor: pointer;
        padding: 0.5rem 1rem;
        
        border:#fff;
}

.pagButton:hover {
	filter: brightness(150%);
}
