@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');

.navContainer {
    width: 80%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: blue; */
}

.navButton {
    backdrop-filter: blur(15px);
    color: #ffffffd0;
	width: 8em;
    height: 2.8em;
	border-radius: 1em;
    border: #92b5b9;
	background: transparent;
    border-radius: 20px;
	padding: 0.8em;
    font-family: 'Tektur', cursive;
    font-size: 20px;
    margin-left: 3px;
} 

.navButton:hover {
	filter: brightness(110%);
}

.bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 30%;
}

.searchInput {
	display: flex;
	width: 16em;
    height: 2.4em;
	border-radius: 0.5em;
    background-color: whitesmoke;
	border-radius: 1em;
    border: #92b5b9;
	padding: 4px;
    margin-left: 110%;
}

.searchButton {
	color: #fff;
	width: 8em;
    height: 2.8em;
	border-radius: 1em;
    border: #92b5b9;
	background: transparent;
    border-radius: 20px;
    backdrop-filter: blur(15px);
	padding: 0.8em;
    font-family: 'Tektur', cursive;
    font-size: 5px;

}
.searchButton:hover {
	filter: brightness(150%);
}


/* .searchdiv{
    display: flex;
}

.inputsearchbar{
    border-radius: 45px;
    border-style: solid;
    border-color: white;
    height: 25px;
    margin-top: 10px;
}

.buttonsearchbar {
    margin-left: 10px ;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 1em 2em;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
   }
   
   .buttonsearchbar:hover {
    background-color: #023e8a;
    box-shadow: 0px 15px 20px rgba(47, 37, 179, 0.4);
    color: #fff;
    transform: translateY(-7px);
   }
   
   .buttonsearchbar:active {
    transform: translateY(-1px);
   } */